
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block head_title %}{% endblock %} - AI_BOT
        </title>
        {% comment %} <link rel="stylesheet" href="{% static 'allauth_ui/output.css' %}">
        {% block extra_head %}{% endblock %}
        {% include 'base/css.html' %} {% endcomment %}
         {% endblock %}
    </head>
    <body>
        {% comment %} {% include 'nav/navbar.html' %}
        {% include 'base/messages.html' with messages=messages %} {% endcomment %}
        {% block content %}
            {% comment %} <div class="flex flex-col items-center justify-center w-screen h-screen text-gray-700 bg-gray-200">
                <div class="flex flex-col items-center p-12 bg-white rounded shadow-lg grow-0">
                    {% block whitebox %}{% endblock %}
                </div>
            </div> {% endcomment %}
        {% endblock %}

        {% comment %} {% include 'base/js.html' %} {% endcomment %}
    </body>
</html>
